<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.voke.pia</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>47EA6F1E-CB63-4DD2-886F-730B37780938</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05729856-C7EC-40AC-A6EC-3AE4B2DAEF5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64EDBD09-CB6A-403E-9BC5-A1BB9D4C562C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD9F56C9-9350-44CE-BB36-F7407CC4BF23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C328779-DB83-4B1E-BA4B-BF3AE055B41F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB620324-6388-4987-A4F5-239208581D24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6AA20497-4F33-490D-8489-CAD225B21316</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>944DBCC1-E9D6-44FB-A4FB-58742E91C1FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EB39CE4-C65C-4E75-AA8B-9A216A2A78BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB4AF4EE-97EA-4339-9D18-6D95868A638C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2B24FE8-F5AC-43B6-B4E7-2AE62BAED018</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Owen Voke (@owenvoke)</string>
	<key>description</key>
	<string>Manage Private Internet Access using "piactl"</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Private Internet Access</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pia connect</string>
				<key>subtext</key>
				<string>Connect to the configured Private Internet Access region.</string>
				<key>text</key>
				<string>Connect to PIA</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>protocol="$1"

if [ -z "${protocol}" ]; then
    protocol="openvpn"
fi

/usr/local/bin/piactl set protocol "${protocol}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F2B24FE8-F5AC-43B6-B4E7-2AE62BAED018</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pia protocol</string>
				<key>subtext</key>
				<string>Set the PIA protocol to either "openvpn" or "wireguard". Default is OpenVPN.</string>
				<key>text</key>
				<string>Set the protocol for PIA</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DB4AF4EE-97EA-4339-9D18-6D95868A638C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/piactl connect</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6AA20497-4F33-490D-8489-CAD225B21316</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/piactl background enable</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CB620324-6388-4987-A4F5-239208581D24</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pia background</string>
				<key>subtext</key>
				<string>Start PIA in the background so that the GUI doesn't need to be running.</string>
				<key>text</key>
				<string>Start PIA in the background</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6C328779-DB83-4B1E-BA4B-BF3AE055B41F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/piactl disconnect</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FD9F56C9-9350-44CE-BB36-F7407CC4BF23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pia disconnect</string>
				<key>subtext</key>
				<string>Disconnect from the current Private Internet Access endpoint.</string>
				<key>text</key>
				<string>Disconnect from PIA</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>64EDBD09-CB6A-403E-9BC5-A1BB9D4C562C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>pia region</string>
				<key>subtext</key>
				<string>Set the configured region for Private Internet Access (use "auto" for automatic region selection).</string>
				<key>text</key>
				<string>Set the region for PIA</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>944DBCC1-E9D6-44FB-A4FB-58742E91C1FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/piactl background disable</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>05729856-C7EC-40AC-A6EC-3AE4B2DAEF5D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pia quit</string>
				<key>subtext</key>
				<string>Stop the background daemon if it is running.</string>
				<key>text</key>
				<string>Stop the background daemon</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>47EA6F1E-CB63-4DD2-886F-730B37780938</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>region="$1"

if [ -z "${region}" ]; then
    region="auto"
fi

region="$(echo "$region" | tr '[:upper:]' '[:lower:]' | tr ' ' '-')"

/usr/local/bin/piactl set region "${region}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6EB39CE4-C65C-4E75-AA8B-9A216A2A78BB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>05729856-C7EC-40AC-A6EC-3AE4B2DAEF5D</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>47EA6F1E-CB63-4DD2-886F-730B37780938</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>64EDBD09-CB6A-403E-9BC5-A1BB9D4C562C</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>6AA20497-4F33-490D-8489-CAD225B21316</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>6C328779-DB83-4B1E-BA4B-BF3AE055B41F</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>6EB39CE4-C65C-4E75-AA8B-9A216A2A78BB</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>944DBCC1-E9D6-44FB-A4FB-58742E91C1FD</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>CB620324-6388-4987-A4F5-239208581D24</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>DB4AF4EE-97EA-4339-9D18-6D95868A638C</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>F2B24FE8-F5AC-43B6-B4E7-2AE62BAED018</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>FD9F56C9-9350-44CE-BB36-F7407CC4BF23</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/owenvoke/alfred-pia</string>
</dict>
</plist>
